
.dropdown{
    padding-top: 60px;
    padding-bottom: 120px;
    right: 0;
    left: 0;
    background: #15372c;
    position: absolute;
    display: flex;
}
.dropdown>:first-child{
    margin-left: 18%;
}
.dropdown>:last-child{
    margin-left: 7%;
}
.dropdown ul{
    font-size: 13px;
    color: #1d8564;
    list-style: none;
}
.dropdown ul>li{
    font-size: 18px;
    color: white;
    font-family: "Untitled Serif",Georgia,serif;
    line-height: 180%;
}
.dropdown-content a {
    color: white;
    text-decoration: none;
  }